:root {
  font-family: 'fira code', 'SF Mono', SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  line-height: 1.5;
  font-weight: 400;
  color: #212121;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: inherit;
}

a {
  font-weight: 500;
  color: #212121;
  border: 1px solid #b6b6b6;
  display: flex;
  padding: 0.1em;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
}

.card {
  padding: 2em;
}

#app {
  height: 100vh;
}

/* 重置默认样式 */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 6px;
  background: transparent;
  cursor: pointer;
}

/* ===== Track（底层轨道） ===== */

/* Chrome / Safari */
input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  background: white;
}

/* Firefox */
input[type="range"]::-moz-range-track {
  height: 6px;
  background: white;
}

/* ===== Progress（已滑过部分） ===== */

/* Chrome 需要用渐变模拟 */
input[type="range"] {
  background: linear-gradient(to right,
      #aaa 0%,
      #aaa var(--progress, 0%),
      white var(--progress, 0%),
      white 100%);
  border-radius: 2px;
}

/* Firefox 原生支持 */
input[type="range"]::-moz-range-progress {
  height: 6px;
  background: #aaa;
  border-radius: 2px;
}

/* ===== Thumb（滑块） ===== */

/* Chrome / Safari */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: #212121;
  border: 2px solid white;
  border-radius: 0;
  /* 方形 */
  margin-top: -4px;
  /* 对齐 track */
  box-sizing: border-box;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #212121;
  border: 2px solid white;
  border-radius: 0;
  box-sizing: border-box;
}

/* 整体宽度 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* 轨道 */
::-webkit-scrollbar-track {
  background: white;
}

/* 滑块 */
::-webkit-scrollbar-thumb {
  background: #212121;
  border: 1px solid white;
  border-radius: 0;
  /* 方形 */
  box-sizing: border-box;
}

/* hover 状态 */
::-webkit-scrollbar-thumb:hover {
  background: #222;
}

/* 点击状态 */
::-webkit-scrollbar-thumb:active {
  background: #444;
}